*
!lazygit
!lazygit/**
!fish
!fish/**
!warp-terminal
!warp-terminal/**
!.gitignore
!starship.toml
!anki-deck-generator
!anki-deck-generator/**
!blender
!blender/**
!zed
!zed/**
!television
!television/**
!github_issue_templates
!github_issue_templates/**
